@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

header {
  background-color: #d44720;
  height: 14vh;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  padding: 5px;
}

p {
  display: inline;
  padding-left: 5px;
}

h1 {
  text-align: center;
  margin: 0;
}

/* button.tasks,
.tasks {
  padding: 5px 5px 5px 10px;
  width: 60%;
  height: 80%;
  border: 2px grey solid;
  margin-left: 20%;
} 

button {
  padding: 2px;
  align-items: center;
  margin-left: 20px;
  text-align: left;
}
*/
.addButton {
  display: inline;
}

.main-form {
  border: 2px grey solid;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
