@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
header {
  background-color: #d44720;
  height: 6vh;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 30px;
}

header p {
  margin: 0;
  padding: 4px;
  color: whitesmoke;
}

body {
  font-family: "Cedarville Cursive", cursive;
}

p {
  display: inline;
  padding-left: 5px;
}

h1 {
  text-align: center;
}

.tasks {
  padding: 5px 5px 5px 10px;
  width: 60%;
  height: 80%;
  border: 2px grey solid;
  margin-left: 20%;
}
